*.autosave
*.orig
*.DS_Store
*.user
*build*/
app/config.pri
core/merginsecrets.cpp
*.idea
*.vscode
*.cache
test/temp_projects/
test/temp_extra_projects/
input.pro.user*
app/android/assets
app/android/AndroidManifest.xml
app/android/build.gradle
app/android/.gradle
*.gpkg-wal
*.gpkg-shm
Input_keystore.keystore
CMakeLists.txt.user
.github/secrets/ios/LutraConsulting*.mobileprovision
google_play_key.json
fastlane/report.xml
.cmake/api/v1/query/cache-v2
.cmake/api/v1/query/cmakeFiles-v1
.cmake/api/v1/query/codemodel-v2
.qtcreator/cmake-helper/conan.cmake
.qtcreator/cmake-helper/conan_provider.cmake
.qtcreator/cmake-helper/LICENSE.conan
.qtcreator/cmake-helper/maintenance_tool_provider.cmake
.qtcreator/cmake-helper/package-manager.cmake
.qtcreator/cmake-helper/qtcreator-project.cmake
CMakeFiles/3.30.5/VCTargetsPath.txt
CMakeFiles/3.30.5/VCTargetsPath.vcxproj
CMakeFiles/3.30.5/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
CMakeFiles/3.30.5/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
CMakeFiles/cmake.check_cache
qtcsettings.cmake
vcpkg-dependencies/toolchain.cmake
CMakeCache.txt
android/assets
vcpkg_installed

