*.autosave
*.orig
*.DS_Store
*.user
*build*/
app/config.pri
core/merginsecrets.cpp
*.idea
*.vscode
*.cache
test/temp_projects/
test/temp_extra_projects/
input.pro.user*
app/android/assets/qgis-data/proj_custom/
app/android/assets/qgis-data/projects/
app/android/assets/qgis-data/proj/*
app/android/assets/qgis-data/resources/*
app/android/assets/projects/
app/android/AndroidManifest.xml
*.gpkg-wal
*.gpkg-shm
Input_keystore.keystore
CMakeLists.txt.user
app/android/build.gradle
app/android/.gradle/*
app/android/.gradle
.github/secrets/ios/LutraConsulting*.mobileprovision
