<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>Created by Qt/QMake</string>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>Icon-16.png</string>
                <string>Icon-16@2x.png</string>
                <string>Icon-32.png</string>
                <string>Icon-32@2x.png</string>
                <string>Icon-128.png</string>
                <string>Icon-128@2x.png</string>
                <string>Icon-256.png</string>
                <string>Icon-256@2x.png</string>
                <string>Icon-512.png</string>
                <string>Icon-512@2x.png</string>
                <string>Icon-20.png</string>
                <string>Icon-20@2x.png</string>
                <string>Icon-20@3x.png</string>
                <string>Icon-29.png</string>
                <string>Icon-29@2x.png</string>
                <string>Icon-29@3x.png</string>
                <string>Icon-40.png</string>
                <string>Icon-40@2x.png</string>
                <string>Icon-40@3x.png</string>
                <string>Icon-60@2x.png</string>
                <string>Icon-60@3x.png</string>
                <string>Icon-76.png</string>
                <string>Icon-76@2x.png</string>
                <string>Icon-83.5@2x.png</string>
                <string>Icon-1024.png</string>
                <string>Icon-24@2x.png</string>
                <string>Icon-27.5@2x.png</string>
                <string>Icon-86@2x.png</string>
                <string>Icon-98@2x.png</string>
                <string>Icon-108@2x.png</string>
                <string>Icon-44@2x.png</string>
                <string>Icon-50@2x.png</string>
            </array>
        </dict>
    </dict>
    <key>UILaunchStoryboardName</key>
    <string>Launch</string>
    <key>UILaunchImages</key>
    <array>
        <dict>
            <key>UILaunchImageMinimumOSVersion</key>
            <string>7.0</string>
            <key>UILaunchImageName</key>
            <string>LaunchImage-iOS7</string>
            <key>UILaunchImageOrientation</key>
            <string>Portrait</string>
            <key>UILaunchImageSize</key>
            <string>{320, 568}</string>
        </dict>
        <dict>
            <key>UILaunchImageMinimumOSVersion</key>
            <string>7.0</string>
            <key>UILaunchImageName</key>
            <string>LaunchImage-iOS7</string>
            <key>UILaunchImageOrientation</key>
            <string>Portrait</string>
            <key>UILaunchImageSize</key>
            <string>{320, 480}</string>
        </dict>
    </array>
    <key>UILaunchImages~ipad</key>
    <array>
        <dict>
            <key>UILaunchImageMinimumOSVersion</key>
            <string>7.0</string>
            <key>UILaunchImageName</key>
            <string>LaunchImage-iOS7-Landscape</string>
            <key>UILaunchImageOrientation</key>
            <string>Landscape</string>
            <key>UILaunchImageSize</key>
            <string>{768, 1024}</string>
        </dict>
        <dict>
            <key>UILaunchImageMinimumOSVersion</key>
            <string>7.0</string>
            <key>UILaunchImageName</key>
            <string>LaunchImage-iOS7-Portrait</string>
            <key>UILaunchImageOrientation</key>
            <string>Portrait</string>
            <key>UILaunchImageSize</key>
            <string>{768, 1024}</string>
        </dict>
        <dict>
            <key>UILaunchImageMinimumOSVersion</key>
            <string>7.0</string>
            <key>UILaunchImageName</key>
            <string>LaunchImage-iOS7</string>
            <key>UILaunchImageOrientation</key>
            <string>Portrait</string>
            <key>UILaunchImageSize</key>
            <string>{320, 568}</string>
        </dict>
        <dict>
            <key>UILaunchImageMinimumOSVersion</key>
            <string>7.0</string>
            <key>UILaunchImageName</key>
            <string>LaunchImage-iOS7</string>
            <key>UILaunchImageOrientation</key>
            <string>Portrait</string>
            <key>UILaunchImageSize</key>
            <string>{320, 480}</string>
        </dict>
    </array>
	<key>CFBundleIdentifier</key>
	<string>${PRODUCT_BUNDLE_IDENTIFIER}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${QMAKE_SHORT_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>${QMAKE_PKGINFO_TYPEINFO}</string>
	<key>CFBundleVersion</key>
	<string>${QMAKE_FULL_VERSION}</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>${IPHONEOS_DEPLOYMENT_TARGET}</string>
	<key>NSLocationUsageDescription</key>
    <string>Program requires GPS to show you current position on map</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Program requires access to gallery to attach pictures to features on map</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Program requires access to gallery to attach pictures to features on map</string>
    <key>NSCameraUsageDescription</key>
    <string>Program requires access to camera to take pictures for features on map</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
            <string>arm64</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
                <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
</dict>
</plist>
